/* links */

a {
	color: $link;
	text-decoration-skip: ink;

	h1 &, h2 &, h3 &, h4 & { text-decoration: none; }
}

a:visited {
	color: $link;
}

a:hover, a:focus, a:active {
	color: $linkHover;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
