/* fonts */

$serif:			Baskerville, Baskerville Old Face, Garamond, "Apple Garamond", "ITC Garamond Narrow", Georgia, serif;
$sans-serif: 	"Gill Sans", "Gill Sans MT", "Helvetica Neue", Helvetica, Arial, sans-serif;

$mono:			"Courier 10 Pitch", Courier, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

/*@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');*/